* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: Poppins, sans-serif;
  overflow: hidden;
}

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
	--light-grey: #dce4e3;
  --text-color: #084236;
}

section {
  max-width: 250px;
  min-width: 78px;
  width: 60%;
  height: 100vh;
  background-color: var(--green);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 22px 25px;
}

nav img {
  cursor: pointer;
}

.iconic-text span {
  font-size: 1.5rem;
  font-weight: 400;
}

.iconic-text div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 12px;
  margin: 10px 15px;
}

.iconic-text div:hover,
.active {
  border-radius: 12px;
  background-color: var(--light-green);
}

.footer  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  width: 60%;
  position: fixed;
  bottom: 0;
  background-color: var(--light-green);
  padding: 10px 8px;
}

.footer-img img {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  object-fit: cover;
}

.footer-text {
  line-height: 1.3;
  margin-right: 40px;
}

.footer-text > p:first-child {
  font-size: 1.5rem;
}

.footer-text > p:last-child {
  font-size: 1.2rem;
}

@media(max-width: 400px) {
  html {
    font-size: 50%;
  }
  .footer-text {
    margin: 0 auto;
  }
}

